body {
    background-color: rgb(200, 246, 243);
}
h1{ 
font-weight: bold;    
}
h2{
    font-weight: bolder;
}
p{
    font-style: italic;
}
li{
    font-size: medium;
}
.about-section{
    background-color: rgb(227, 127, 210);
    color: white;
    padding: 22px;
    margin: 18px;
    width: 200px;
}

#testing{
    background-color: rgb(240, 251, 33);
    color: rgb(0, 0, 0);
    border: 8px solid fuchsia;
}