body {
    background-color: rgb(200, 246, 243);
}
h1{ 
font-weight: bold;    
}
h2{
    font-weight: bolder;
}
p{
    font-style: italic;
}
li{
    font-size: medium;
}
.about-section{
    background-color: rgb(227, 127, 210);
    color: white;
    padding: 22px;
    margin: 18px;
    width: 200px;
}

#testing{
    background-color: rgb(250, 254, 171);
    color: black;
    border: 8px solid rgb(246, 191, 246);
}

#about-us{
    background-color: rgb(246, 191, 246);
    color: white;
    border: 8px solid rgb(246, 191, 246);
    margin: 18px;
    padding: 22px;
}